body{
    background: linear-gradient(132deg, #1f2937, #33294f, #272b5c, #673AB7, #673AB7, #3F51B5, #3F51B5, #673AB7, #673AB7, #272b5c,#33294f, #1f2937);
    background-size: 1000% 1000%;
    animation: BackgroundGradient 30s ease infinite;
    
}

@keyframes BackgroundGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}